# Merging and Concatenating Dataframes


In this section, you will merge and concatenate multiple dataframes. Merging is one of the most common operations you will do, since data often comes in various files. 

In our case, we have sales data of a retail store spread across multiple files. We will now work with all these data files and learn to:
* Merge multiple dataframes using common columns/keys using ```pd.merge()```
* Concatenate dataframes using ```pd.concat()```

Let's first read all the data files.

In [ ]:
# loading libraries and reading the data

In [ ]:

#pd.concat([a, b], axis = 0)

In [ ]:

# Defining the three dataframes indicating the gold, silver, and bronze medal counts
# of different countries

### Merging Dataframes Using ```pd.merge()```

There are five data files:
1. The ```market_fact``` table contains the sales data of each order
2. The other 4 files are called 'dimension tables/files' and contain metadata about customers, products, shipping details, order details etc.

If you are familiar with star schemas and data warehouse designs, you will note that we have one fact table and four dimension tables.

In [ ]:
# Already familiar with market data: Each row is an order

In [ ]:
# Customer dimension table: Each row contains metadata about customers

In [ ]:
# Product dimension table

In [ ]:
# Shipping metadata

In [ ]:
# Orders dimension table

### Merging Dataframes

Say you want to select all orders and observe the ```Sales``` of the customer segment *Corporate*. Since customer segment details are present in the dataframe ```customer_df```, we will first need to merge it with ```market_df```.

In [ ]:
# Merging the dataframes
# Note that Cust_id is the common column/key, which is provided to the 'on' argument
# how = 'inner' makes sure that only the customer ids present in both dfs are included in the result

In [ ]:
# Now, you can subset the orders made by customers from 'Corporate' segment

In [ ]:
# Example 2: Select all orders from product category = office supplies and from the corporate segment
# We now need to merge the product_df

In [ ]:
# Select all orders from product category = office supplies and from the corporate segment


Similary, you can merge the other dimension tables - ```shipping_df``` and ```orders_df``` to create a ```master_df``` and perform indexing using any column in the master dataframe.

In [ ]:
# Merging shipping_df

In [ ]:
# Merging the orders table to create a master df

Similary, you can perform left, right and outer merges (joins) by using the argument ```how = 'left' / 'right' / 'outer'```.

### Concatenating Dataframes

Concatenation is much more straightforward than merging. It is used when you have dataframes having the same columns and want to append them (pile one on top of the other), or having the same rows and want to append them side-by-side.

#### Concatenating Dataframes Having the Same columns

Say you have two dataframes having the same columns, like so:

In [ ]:
# dataframes having the same columns

In [ ]:
# To concatenate them, one on top of the other, you can use pd.concat
# The first argument is a sequence (list) of dataframes
# axis = 0 indicates that we want to concat along the row axis

In [ ]:
# A useful and intuitive alternative to concat along the rows is the append() function
# It concatenates along the rows

#### Concatenating Dataframes Having the Same Rows

You may also have dataframes having the same rows but different columns (and having no common columns). In this case, you may want to concat them side-by-side. For e.g.:

In [ ]:
# To join the two dataframes, use axis = 1 to indicate joining along the columns axis
# The join is possible because the corresponding rows have the same indices

Note that you can also use the ```pd.concat()``` method to merge dataframes using common keys, though here we will not discuss that. For simplicity, we have used the ```pd.merge()``` method for database-style merging and ```pd.concat()``` for appending dataframes having no common columns.

#### Performing Arithmetic Operations on two or more dataframes

We can also perform simple arithmetic operations on two or more dataframes. Below are the stats for IPL 2018 and 2017.

In [ ]:
# Teamwise stats for IPL 2018


# Set the 'IPL Team' column as the index to perform arithmetic operations on the other rows using the team as reference

In [ ]:
# Similarly, we have the stats for IPL 2017

In [ ]:
# Simply add the two DFs using the add opearator

Notice that there are a lot of NaN values. This is because some teams which played in IPL 2017 were not present in IPL 2018. In addition, there were also new teams present in IPL 2018. We can handle these NaN values by using `df.add()` instead of the simple add operator. Let's see how.

In [ ]:
# The fill_value argument inside the df.add() function replaces all the NaN values in the two dataframes w.r.t. each other with zero.

Also notice how the resultant dataframe is sorted by the index, i.e. 'IPL Team' alphabetically.

In [ ]:
# Creating a new column - 'Win Percentage'

In [ ]:
# Sorting to determine the teams with most number of wins. If the number of wins of two teams are the same, sort by the win percentage.

Apart from add(), there are also other operator-equivalent mathematical functions that you can use on Dataframes. Below is a list of all the functions that you can use to perform operations on two or more dataframes
-  `add()`: +
-  `sub()`: -
-  `mul()`: *
-  `div()`: /
-  `floordiv()`: //
-  `mod()`: %
-  `pow()`: **