# Lambda Functions and Pivot Tables

Until now, we have not made any changes or modifications to the data. In this section, we will:
* Use lambda functions to create new and alter existing columns
* Use pandas pivot tables as an alternative to ```df.groupby()``` to summarise data

Let's first read all the files and create a ```master_df```.

In [ ]:
# Loading libraries and files



# Merging the dataframes to create a master_df

### Lambda Functions

Say you want to create a new column indicating whether a given order was profitable or not (1/0). 

You need to apply a function which returns 1 if Profit > 0, else 0. This can be easily done using the ```apply()``` method on a column of the dataframe.

In [ ]:
# Create a function to be applied

The same can be done in just one line of code using lambda functions.

In [ ]:
#Create using the lambda function:

In [ ]:
# Create a new column using a lambda function

Now you can use the new column to compare the percentage of profitable orders across groups.

In [ ]:
# Comparing percentage of profitable orders across customer segments

In [ ]:
# Comparing percentage of profitable orders across product categories

In FURNITURE, 46% orders are profitable, compared to 57% in TECHNOLOGY.

In [ ]:
# You can also use apply and lambda to alter existing columns
# E.g. you want to see Profit as one decimal place
# apply the round() function

You sometimes need to create new columns using existing columns, for instance, say you want a column ```Profit / Order_Quantity```.

In [ ]:
# Creating a column Profit / Order_Quantity

### Pivot Tables

You may want to use pandas pivot tables as an alternative to ```groupby()```. They provide Excel-like functionalities to create aggregate tables.

In [ ]:
# Read documentation

The general syntax is ```pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', ...)```.
* ```data``` is a dataframe
* ```values``` contains the column to aggregate
* ```index``` is the row in the pivot table
* ```columns``` contains the columns you want in the pivot table
* ```aggfunc``` is the aggregate function

Let's see some examples.

In [ ]:
# E.g. Compare average Sales across customer segments

In [ ]:
# E.g. compare total number of profitable orders across regions
# Note that since is_profitable is 1/0, we can directly compute the sum

In [ ]:
# Grouping by both rows and columns
# Compare the total profit across product categories and customer segments
# Since there are two categorical variables, we use both rows (index) and columns

You don't necessarily need to specify all four arguments, since ```pivot_table()``` has some smart defaults. For instance, if you just provide ```columns```, it will compute the **mean of all the numeric columns** across each column. For e.g.:

In [ ]:
# Computes the mean of all numeric columns across categories
# Notice that the means of Order_IDs are meaningless